
{% extends 'cp/base.html' %}
{% block content %}
    <hr>
    <a href="{% url 'main'%}">Главная</a>
    <hr>
    <form method="POST" class="post-form">
      

    {%if object%}<h3>{{form.instance}}</h3>{%endif%}
    {%if object%}{%if delete_button != True%}<button type="submit" name="deleteit" value="true" class="save btn btn-danger">Удалить</button>{%endif%}
    <hr>
    {%endif%}

    {% csrf_token %}

    {{ form.as_p }}
    <hr/>
        <button type="submit" class="save btn btn-default">{%if page_type == 'create'%}Создать{%else%}Сохранить{%endif%}</button>
    </form>
    {% endblock %}