{% extends 'cp/base.html' %}
{% block content %}
<hr>
<a href="{% url 'main'%}">Главная</a>
<hr>
<h4>Помощь</h4>
<p>Первым делом создаем главный район(в моём случае город *Владивосток*)</p>
<p>После создаём район в главном районе(в столбце подкатегория от выставляем владивосток)(в моём случае *центр*, *чуркино* и *падь*)</p> 
<p>Дальше создаём *Виды товара*(в моём случае *голубые кристаллы* и *розовая поебота*), можно выставить стандартный ценник, он будет указан всегда, когда не будет информации о цене самой закладки</p> 
<p>Далее заходим во *Все товары* и создаём закладку, в поле *вид товара* указываем что это за товар, в поле *место хранения* указываем район города в котором лежит товар, в поле *цена* указываем цену за товар, если оставить пустым то -- цена берется с *вида товара*, в поле *дополнительное описание* делаем подробное описание местоположения</p> 
<p>https://support.google.com/maps/answer/144361?hl=ru&ref_topic=3093585 по инстукции получаем ссылку на местоположение и вставляем её в поле *Ссылка на геолокацию:*</p> 
<p>Заливаем фотографию на https://anonfile.com/ru (в теории, можно залить куда угодно и как угодно, нужна просто ссылка на фотографию, просто так безопаснее) и вставляем ссылку в поле *Ссылка на фото:*</p>
<p></p>
{% endblock %}